* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hero {
  height: 740px;
  color: white;
  background-image: url('./assets/francisco.png');
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  .main__navbar {
    max-height: 100px;
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(#333333, 0.7) 0%, rgba(#333333, 0.4) 40%, rgba(#333333, 0) 100%);
    ul {
      padding: 40px 0;
      list-style: none;
      display: flex;
      justify-content: end;
      li {
        padding-right: 50px;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
      }
      li:last-child {
        padding-right: 0;
      }
    }
  }
  
  .main__title {
    font-size: 32px;
    font-weight: normal;
  }

  &__card {
    width: 500px;
    height: 450px;
    margin: 70px 0 70px 120px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    &-content {
      padding: 40px;
      small {
        font-size: 16px;
        font-weight: 300;
      }
      h2 {
        font-size: 60px;
        font-weight: 500;
        padding-bottom: 20px;
      }
      p {
        font-size: 21px;
        font-weight: 300;
        line-height: 24px;
        padding-right: 20px;
        i, a {
          padding-top: 20px;
          padding-bottom: 25px;
          color: white;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
    .hero__votes {
      width: 100%;
      height: 80px;
      display: flex;
      font-size: 38px;
      .votes__up, .votes__down {
        height: 100%;
        min-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .votes__up {
        background-color: rgba(44,187,180,.7);
      }
      .votes__down {
        background-color: rgba(255,173,29,.8);
      }
    }
  }

  &__days-remained {
    height: 51px;
    display: flex;
    .closing__p {
      width: 37%;
      padding-right: 10px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0.2);
      font-size: 13px;
    }
    .closing__days {
      width: 63%;
      padding-left: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.6);
      font-size: 37px;
      color: #464646;
      span {
        font-weight: 300;
      }
    }
  }
}

main {
  padding: 0 120px;
  .main__info {
  height: 100px;
  margin: 35px 0;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
    .info__title {
      width: 35%;
      font-size: 22px;
      h3 {
        font-size: 37px;
      }
    }
    .info__description {
      font-size: 15px;
      font-weight: 300;
      line-height: 23px;
    }
    .info__close {
      font-size: 40px;
      cursor: pointer;
    }
  }
}